@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;


}



body
{
    position: relative;
    display: flex;
    width: 100dvw;
    flex-direction: column;

}


/*navegador*/

.navegador
{

    display: flex;
    justify-content: space-around;
    padding: 25px 10px;
    position: absolute;
    z-index: 1000;
    width: 100dvw;
    align-items: center;
    color:white;
}

.navegador.visible
{
    background-color: #412a17;
    box-shadow: 25px 0 25px rgb(29, 29, 29);
    position: fixed;
    z-index: 3000;
    animation: scrollDown .2s ease-out;
}

@keyframes scrollDown {
    0%
    {
        top:-100px;
        opacity: 0;
    }
    100%
    {
        top:0;
    }
}

.botonesLogo
{
    display: flex;
    gap: 50px;
    display: none;
    
}
.botonesLogo li
{
    list-style: none;
    font-size: 20px;
    transition: .05s ease-in-out;
}

.botonesLogo li:hover
{
    cursor: pointer;
    scale: 1.1;
}

.navegador img
{
    width: 50px;
    display: block;
    filter:invert(1)
}
.navegador img:hover
{
    cursor: pointer;
}

/*apartado principal*/
.principal
{
    position: relative;
    height: fit-content;

}
.contenedorVideoPrincipal
{
    width: 96dvw;
    overflow: hidden;
    height:90vh;

}

.contenedorVideoPrincipal video
{
    width: 100dvw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(.25);
    position: fixed;
    z-index: -2000;
    max-width: 100vw;
}

.contenedorPrincipalInfo
{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 30%;
    height: fit-content;
    z-index: 1500;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    display: flex;
}

.contenedorPrincipalInfo h1
{
    text-align: center;
    font-size: 35px;
}

.contenedorPrincipalInfo p
{
    font-size: 24px;
}

.contenedorPrincipalInfo button
{
    background-color: black;
    color:white;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 16px;
    border-style: none;
    align-self: center;
    border: 1px solid white
}
.contenedorPrincipalInfo button:hover
{
    scale: 1.1;
    cursor: pointer;
}

.contenedorImagenesCafe
{

    position: relative;
    background-color: #ece0d1;
    z-index: 2000;
    display: flex;
    gap: 13dvw;
    padding: 2dvw 5dvw;
}
.contenedorImagenesCafe img
{
    width: 12dvw;
    filter: invert(46%) sepia(20%) saturate(671%) hue-rotate(342deg) brightness(70%) contrast(90%);
}

/*productos*/
.contenedorProductos
{
    width: 100%;
    height: fit-content;
    padding: 15vh 2dvw;
    padding-bottom: 30vh;
    background-color: white;
    text-align: center;
}

.contenedorProductos h2
{
    padding-bottom: 20px;
}
.contenedorProductos button
{
    width: 300px;
    height: 50px;
    border-style: none;
    font-size: 18px;
    margin-top: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;

}
.contenedorProductos button:hover
{
    cursor: pointer;
    color:chocolate;
}





.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 20px;
    height: 100%;
    
 }

.angry-grid div
{
    overflow: hidden;
}

 .angry-grid div img
 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .1s ease-in-out;
    cursor: pointer;
 }
 .angry-grid div img:hover
 {
    scale: 1.1;
 }
   
 #item-0 {
 
    background-color: #E7AE75; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 4;
    
 }
 #item-1 {
 
    background-color: #757C8D; 
    grid-row-start: 4;
    grid-column-start: 1;
 
    grid-row-end: 6;
    grid-column-end: 4;
    
 }
 #item-2 {
 
    background-color: #A95CEC; 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 3;
    grid-column-end: 7;
    
 }
 #item-3 {
 
    background-color: #88ED8A; 
    grid-row-start: 3;
    grid-column-start: 4;
 
    grid-row-end: 6;
    grid-column-end: 7;
    
 }
 #item-4 {
 
    background-color: #7CFEBE; 
    grid-row-start: 1;
    grid-column-start: 7;
 
    grid-row-end: 4;
    grid-column-end: 10;
    
 }
 #item-5 {
 
    background-color: #BCBE67; 
    grid-row-start: 4;
    grid-column-start: 7;
 
    grid-row-end: 6;
    grid-column-end: 10;
    
 }
        


/*Contenedor Proposal*/
.contenedorProposal
{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color:#ece0d1;
}
.contenedorProposal img
{
    width:35%;
    height: 23vh;

}


.contenedorProposal div
{
    width: 35%;

    padding-top: 15px;
    font-size: 12px;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

}
.contenedorProposal div button
{
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    background-color:#967259;
    color:white;
    transition: .05s ease-in-out;
    position: relative;
    z-index: 500;
}

.contenedorProposal div button:hover
{
    cursor: pointer;
    scale:1.1;
}




/*sobre nosotros*/

.contenedorSobreNosotrosPadre
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5dvw 0;
    background-color: white;
}



.contenedorSobreNosotros
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: fit-content;
    padding: 5dvw 8dvw;
    background-color: white;
    align-self: center;
    border-radius: 100px;
    margin-top: 20px;
    height: fit-content;
    gap: 30px;


}

.contenedorSobreNosotrosAll
{
    display: flex;
    flex-direction: row;
    width: 80dvw;
    max-width: 800px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.contenedorSobreNosotrosAll div
{
    animation: slider 25s ease-out infinite;

}

@keyframes slider {
    0%
    {
        transform: translateX(0px);
    }
    30%
    {
        transform: translateX(0px);
    }
    33.33%
    {
        transform: translateX(-33.33%);
    }
    63.33%
    {
        transform: translateX(-33.33%);
    }
    66.66%
    {
        transform: translateX(-66.66%);
    }
    96.66%
    {
        transform: translateX(-66.66%);
    }
    100%
    {
        transform: translateX(0);
    }
    
}





.contenedorSobreNosotros div
{

}
.contenedorSobreNosotros div div
{
    width: fit-content;
    display: flex;


}
.contenedorSobreNosotros div div span
{
    width: 80dvw;
    max-width: 800px;
    height: 45vh;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}

.contenedorSobreNosotros div div span img
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    filter:brightness(.3);

    -webkit-user-drag: none;
}
.contenedorSobreNosotros div div span img:hover
{
    cursor:grab;
}
.contenedorSobreNosotros div div span p
{
    position: relative;
    z-index: 2;
    color:white;
    padding-left: 10px;
    width: 90%;
    -webkit-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 25px;

}
.contenedorSobreNosotros div div span p:hover
{
    cursor: grab;
}
.flechaRight,.flechaLeft
{
    width: 50px;
    height: 50px;
}


/*Footer*/
footer
{
    width: 100%;
    height: fit-content;
    min-height: 200px;
    background-color: rgb(15, 7, 7);}

.contenedorFooter
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10dvw 0;
    justify-content: space-around;
    padding: 50px 0;

}


.contenedorFooterItem
{
    width: 80dvw;
    height: fit-content;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0;
}

.contenedorFooterItem form
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedorFooterItem form input
{
    width: 60dvw;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    max-width: 300px;
}

.contenedorFooterItem form button
{
    width: 40dvw;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    margin-top: 10px;
    max-width: 275px;
    align-self: center;
}
.contenedorFooterItem form button:hover
{
    cursor: pointer;
}

.contenedorFooterItem
{
    text-align:center;
    display: flex;
    justify-content: flex-start;
    min-height: 400px;
    color: white;
}
.contenedorFooterItem ul li
{
    list-style: none;
    font-size: 18px;
}

.contenedorFooterItem ul li:hover
{
    cursor: pointer;
}
.contenedorFooterItem ul
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenedorFooterItem h2
{
    font-size: 28px;
    padding-bottom: 20px;
}

.contenedorFooterItem span
{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.contenedorFooterItem span img
{
    width: 40px;
    padding-top: 10vh;
    filter: invert(1);
    position: relative;
}
.contenedorFooter span img:hover
{
    cursor: pointer;
    scale: 1.1;
    top:-3px;
}




/*media queries*/
@media screen and (min-width: 1000px) {

    .contenedorVideoPrincipal video
    {
        height: 90vh;
    }
    

    .contenedorPrincipalInfo
    {
        margin-top: 30vh;
        height: 90vh;
    }

    .contenedorImagenesCafe
    {
        padding: 2vh 20dvw;
        position: relative;
    }
    .contenedorImagenesCafe img
    {
        width: 5.5dvw;
    }

    .navegador img
    {
        display: none;
    }


    .botonesLogo
    {
        display: flex;
        gap: 10dvw;
    }

    /*contenedorProposal*/
    .contenedorProposal
    {
        padding-left:20px;
    }
    .contenedorProposal img
    {
        width: 20dvw;
        height: 40vh;
    }
    .contenedorProposal div 
    {
        width: 55dvw;
        height:40vh ;
        gap: 50px;
    }
    .contenedorProposal div h1
    {
        font-size: 30px;
    }
    .contenedorProposal div button
    {
        height: 45px;
        width: 225px;
        font-size: 18px;
    }



    /*ContenedorProductos*/
    .contenedorProductos
    {
        height: 100vh;
        padding-left: 6dvw;
        padding-right: 6dvw;
    }
    .div1
    {
        grid-row: span 3/4;
    }
    .div3
    {
        grid-row: span 2;
        grid-column: span 2 ;
    }
    /*sobre nosotros*/
    .contenedorSobreNosotros div div span
    {
        height: 80vh;
        font-size: 32px;
        line-height: 50px;
    }
    .card
    {
        width: 25dvw;
        height:55vh;
    }



    footer
    {
        padding:0;
        height: fit-content !important;
    }
    .contenedorFooter
    {
        flex-direction: row;
    }
    .contenedorFooterItem
    {
        min-height:fit-content;
    }
}